@model OsipovCourseWork.Models.ИзоляцияНаКарантин

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ИзоляцияНаКарантин</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.НомерИзолятора)

        <div class="form-group">
            @Html.LabelFor(model => model.НачалоКарантина, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.НачалоКарантина, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.НачалоКарантина, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.КонецКарантина, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.КонецКарантина, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.КонецКарантина, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Заболевание, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Заболевание, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Заболевание, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ИД_Пациента, "ИД_Пациента", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ИД_Пациента", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ИД_Пациента, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
