@model OsipovCourseWork.Models.Заболевания

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Заболевания</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Название)

        <div class="form-group">
            @Html.LabelFor(model => model.ТипЗаболевания, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ТипЗаболевания, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ТипЗаболевания, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Возбудитель, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Возбудитель, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Возбудитель, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.МКБ_10, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.МКБ_10, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.МКБ_10, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Смертность, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Смертность, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Смертность, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Воздействие, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Воздействие, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Воздействие, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Симптомы, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Симптомы, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Симптомы, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.СпособПередачи, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.СпособПередачи, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.СпособПередачи, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ИнкубационныйПериод, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ИнкубационныйПериод, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ИнкубационныйПериод, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "IndexU")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
