@model OsipovCourseWork.Models.Палаты

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Палаты</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.НомерПалаты, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.НомерПалаты, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.НомерПалаты, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.КоличествоПациентов, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.КоличествоПациентов, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.КоличествоПациентов, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.КоличествоМест, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.КоличествоМест, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.КоличествоМест, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Этаж, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Этаж, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Этаж, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ИД_Персонала, "ИД_Персонала", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ИД_Персонала", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ИД_Персонала, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
