@model OsipovCourseWork.Models.Палаты

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить этот экземпляр?</h3>
<div>
    <h4>Палаты</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.КоличествоПациентов)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.КоличествоПациентов)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.КоличествоМест)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.КоличествоМест)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Этаж)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Этаж)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.МедицинскийПерсонал.Должность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.МедицинскийПерсонал.Должность)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
